.contenedor-imagen {
    width: 100px; /* Ancho del contenedor */
    height: 60px; /* Alto del contenedor */
    overflow: hidden; /* Oculta la parte de la imagen fuera del contenedor */
  }

  .img-cropZ { 
    width: 12%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 30%; /* Ajusta la imagen al 100% del alto del contenedor */
    object-fit: none; /* Ajusta la imagen para cubrir completamente el contenedor */
    object-position: 14.2% 68%; /* Posición en el centro de la imagen */
  }

  .img-cropY { 
    width: 12%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 30%; /* Ajusta la imagen al 100% del alto del contenedor */
    object-fit: none; /* Ajusta la imagen para cubrir completamente el contenedor */
    object-position: 18.5% 68%; /* Posición en el centro de la imagen */
  }

  .img-cropX { 
    width: 12%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 30%; /* Ajusta la imagen al 100% del alto del contenedor */
    object-fit: none; /* Ajusta la imagen para cubrir completamente el contenedor */
    object-position: 23.3% 68%; /* Posición en el centro de la imagen */
  }

  .img-cropW { /*W*/
    width: 12%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 30%; /* Ajusta la imagen al 100% del alto del contenedor */
    object-fit: none; /* Ajusta la imagen para cubrir completamente el contenedor */
    object-position: 28.0% 68%; /* Posición en el centro de la imagen */
  }  

  .img-cropV {
    width: 12%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 30%; /* Ajusta la imagen al 100% del alto del contenedor */
    object-fit: none; /* Ajusta la imagen para cubrir completamente el contenedor */
    object-position: 32.8% 68%; /* Posición en el centro de la imagen */
  }

  .img-cropU {
    width: 12%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 30%; /* Ajusta la imagen al 100% del alto del contenedor */
    object-fit: none; /* Ajusta la imagen para cubrir completamente el contenedor */
    object-position: 37.6% 68%; /* Posición en el centro de la imagen */
  }

  .img-cropT {
    width: 12%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 30%; /* Ajusta la imagen al 100% del alto del contenedor */
    object-fit: none; /* Ajusta la imagen para cubrir completamente el contenedor */
    object-position: 42.0% 68%; /* Posición en el centro de la imagen */
  }

  .img-cropS {
    width: 12%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 30%; /* Ajusta la imagen al 100% del alto del contenedor */
    object-fit: none; /* Ajusta la imagen para cubrir completamente el contenedor */
    object-position: 46.6% 68%; /* Posición en el centro de la imagen */
  }

  .img-cropR { /*R*/
    width: 13%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 30%; /* Ajusta la imagen al 100% del alto del contenedor */
    object-fit: none; /* Ajusta la imagen para cubrir completamente el contenedor */
    object-position: 51.2% 68%; /* Posición en el centro de la imagen */
  }

  .img-cropQ { 
    width: 12%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 30%; /* Ajusta la imagen al 100% del alto del contenedor */
    object-fit: none; /* Ajusta la imagen para cubrir completamente el contenedor */
    object-position: 56.0% 68%; /* Posición en el centro de la imagen */
  }

  .img-cropP { 
    width: 12%; /* Ajusta la imagen al 100% del ancho del contenedor */
    height: 30%; /* Ajusta la imagen al 100% del alto del contenedor */
    object-fit: none; /* Ajusta la imagen para cubrir completamente el contenedor */
    object-position: 84.6% 66%; /* Posición en el centro de la imagen */
  }